/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2018, 20:46:57
    Author     : Carlos Gil Sabrido
*/
h2.titulo{
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 15px;
    right: 5%;
}

body {
    color: #000000;
    font-family: "Gill Sans","Gill Sans MT";
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    direction: ltr;
}
#fondo{background-color: #000000}
.contenedor{
    height: 20px;
    background-color: #CB0017;
    padding-right: 5%;
    padding-left: 2%;
}
.contenedorB{
    background-color: #000000;
    padding-right: 5%;
    padding-left: 5%;
    height: 70px;
}
ul#Red li {
    
    display:inline;
    margin-right: 0.1%;
}
li.red{
    position:relative;
    bottom: 2px;
}
li.RedDcha{
    float: right!important;
    text-align: right;
    position:relative;
    bottom: 2px;
}
.dcha {
    text-align: right;
    display:inline-block;
    width: 60%;
}
#RedHead { 
    width: 100%;
    padding-top: 1px;
    font-weight: 300;
    
    background:#CB0017;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.fuck {
    background-color:aqua;
}
.topnav {
    margin-top: 0px;
    padding-top: 0px;
    background-color:#000000;
    color: #ffffff;
    height: 70px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.topnav p{
    margin: 0px 0px 0px;
    color: white;
    float: left;
  
    text-align: center;
    padding: 4px 6px;
}
/*.container {
    padding-left: 7%;
    padding-right: 7%;
    display: inline;
    width: 750px;
    font-size: 13px;
    box-sizing: border-box;
}*/





.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 1px solid  #CB0017;
}
.form .btnlog {
    background-color: #CB0017;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #CB0017;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #B50000 ;
}

.form .register-form {
  display: none;
}



.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 120px;
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 0px 0px #000000;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}
.switch-label-off {
  padding-left: 2px;
}
.switch-label-on {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  https://css-tricks.com/webkit-sibling-bug/
*/

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  /*color: rgba(0, 0, 0, 0.65);*/
  color: #FFFFFF;
 /* text-shadow: 0 1px rgba(255, 255, 255, 0.25);*/
  text-shadow: 0 1px 1px #000000;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #CB0017;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #CB0017, #CB0017);
  background-image: -moz-linear-gradient(top, #CB0017, #CB0017);
  background-image: -o-linear-gradient(top, #CB0017, #CB0017);
  background-image: linear-gradient(to bottom, #CB0017, #CB0017);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

/*
MENU
*/
.dropdownmenu ul, .dropdownmenu li {
	margin: 0 20px;
	padding: 0;
}
.dropdownmenu ul {
        
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #000000;
	color: #FFFFFF;
	display: block;
	padding: 25px 25px 25px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}


.btn {
  color: #fff;
  cursor: pointer;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
} 
.btn-1 {
    background:#000000;
    font-weight: 100;
 }
.btn-1:hover {
    background: #000000;
    font-weight: 900;
    letter-spacing: 1px;
    color: #CB0017;
}












.form-wrap {
  width: 70%;
  height: 100%; 
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  background: #000000;
  border-radius: 20px;
  border-style: solid;/* BORRAR DESPUES */
  border-color: #CB0017;
}

.form-wrap *{transition: .1s linear}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
  color: #FFFFFF;
}
.formCurriculum {
  background: white;
  float: right;
  width: 60%;
  height: auto;
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color: #000000; 
}
.form-wrap:after, formCurriculum div:after {
  content: "";
  display: table;
  clear: both;
}


label, span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

select {
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}

.btnCurriculum {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 25%;
  margin: 20px auto 0;
  background: #CB0017;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}
.btnOferta {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 25%;
  margin: 1% auto 1%;
  background: #CB0017;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}




.table-content{
  min-width: 20%;
  max-width: 60%;
  }
.espInput
{
    width: 500px;
    height: 100px;
}
.titulo {
    font-weight: bold;
}

.form-wrap2 {
  width: 70%;
  height: 100%; 
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;/* BORRAR DESPUES */
  border-color: #CB0017;
}
.form-wrap3 {
  width: 70%;
  height: 35%; 
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  background: #000;
  border-radius: 20px;
  border-style: solid;/* BORRAR DESPUES */
  border-color: #CB0017;
}
.formEmpresa {
  background: white;
  float: right;
  height: auto;
  max-height: 230px;
  width: 60%;
  padding: 3%;
  border-radius: 0 15px 20px 0;
  color: #000000; 
}
.profile2 {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
  color: #ffffff;
  
}
.limite {
    margin-left: 15%; 
    margin-right: 15%;
    width: 70%;
    margin-top: 1%;
    text-align: justify;
}

.containerOferta {
  border-radius: 20px;
  border-style: solid;
  border-color: #CB0017;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
}
.item {

  padding: 16px 16px 48px;
  border-radius: 3px;
}

.item-section {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(108, 114, 125, .3);
  padding-bottom: 16px;
}
.item-section2 {
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(108, 114, 125, .3);
  padding-bottom: 16px;
  text-align: center;
}

.item-title {
  margin: 0 0 4px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.item-title2 {
  float:left;
  margin: 0 0 4px;
  font-size: 18px;
  /*text-align: center;*/
  font-weight: 600;
}
.item-meta {
  margin: 0 0 2%;
  font-weight: 500;
  font-size: 14px;
  opacity: .5;
}
.item-meta2 {
  float: right;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.item-description {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.item-descriptionEmpresa {
  text-justify: auto;
  width: 100%;
  max-width: 1280px;
  height: 200px;
  max-height: 400px;
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.espInputEmpresa
{
  text-justify: auto;
  width: 100%;
  max-width: 590px;
  height: 37%;
  max-height: 150px;
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.button-order {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto ;
  background-color: #CB0017;
  color: #FFF;
  border-radius: 20px;
  padding: 12px 0;
  font-size: 16px; 
  cursor: pointer;
  outline: none;
}

.info {
    padding-left: 15%;
    text-align: center;
}
.info a{
    color:#CB0017;
}